- prev_page_link( @page, @page.parent.path ) 
- next_page_link( @page, @page.parent.path ) 
#brochure
  %article(role="main")
    .banner
      %hgroup
        %br
          %h1 #{@page.full_title}
          %h3 #{@page.summary}
      %div.links
        -unless @page.contact == nil
          %a.contact(href="#{@page.contact}") Contact
        -unless @page.url == nil
          %a.page(href="#{@page.url}") Website

      %div.image        
        %img(src="/attachments/images/#{@page.metadata('Image')}")

    %section.keypoints
      / emit the brochure details    
      ~ @page.to_html(self)

    %section.related
      %section.related.pages
        %header
          %h1 Related Pages
        = article_summaries(@page.pages)

      - unless @page.articles.empty?
        %section.related.articles
          %header
            %h1= articles_heading
          = article_summaries(@page.articles)

    = haml :page_meta, :layout => false, :locals => { :page => @page }
