#brochure
  %article(role="main")
    .banner.row
      .span1.align-left(style="font-size:400%; margin-top:2em")
        - prev_page_link( @page, @page.parent.path ) 
      .span5
        %p &nbsp
        %hgroup
          %br
            %h1
              #{@page.full_title}
              %br              
              %small= @page.metadata("summary")
        -unless @page.contact == nil
          %a.btn.btn-primary.contact(href="#{@page.contact}" title="Contact the project maintainer") 
            %i.icon-envelope.icon-white
            Contact
        -unless @page.url == nil
          %a.btn.btn-primary.page(href="#{@page.url}" target="_blank" title="Go to the #{@page.full_title} application website (opens a new window)") 
            %i.icon-share-alt.icon-white
            Website
      .image.span5
        /%img.thumbnail(src="/attachments/images/#{@page.metadata('Image')}")
        - render_sliding_image_viewer(@page)
      .span1.align-right(style="font-size:400%;margin-top:2em;text-align:right;")
        - next_page_link( @page, @page.parent.path ) 
    %hr.soften
    ~ @page.to_html(self)
    = haml :page_meta, :layout => false, :locals => { :page => @page }
