= haml :layout_frontmatter, :layout => false
%body
  /#ctmlabsheader(style='min-height:30px;')
  = haml :ctmlabsmenu, :layout => false
  #container.container
    = haml :headerhome, :layout => false
    = yield

  #ctmlabsfooter.container-fluid
    = haml :footer, :layout => false
