= haml :layout_frontmatter, :layout => false
%body
  #ctmlabsheader
    = haml :ctmlabsmenu, :layout => false
  #container
    = haml :headerhome, :layout => false
    = yield
    = haml :footer, :layout => false
