#content
  %div.row
    %article.span12(role="main")
      ~ @page.to_html(self)

      %section.pages
        - unless @page.pages_with_flag("deployed").empty?
          %section.deployed_pages
            %header
              %h1 Active 
            = article_summaries(@page.pages_with_flag("deployed"))

        - unless @page.pages_without_flag("deployed").empty?
          %section.coming_pages
            %header
              %h1 Coming Soon
            = article_summaries(@page.pages_without_flag("deployed"))

      - unless @page.articles.empty?
        %section.articles
          %header
            %h1= articles_heading
          = article_summaries(@page.articles)

      = haml :page_meta, :layout => false, :locals => { :page => @page }

    = haml :comments, :layout => false

/= haml :sidebar, :layout => false
