#content
  %div.row
    %article.span8(role="main")
      ~ @page.to_html(self)

    %article.span4(role="main")
      %section.pages
        = article_summaries(@page.pages)

      - unless @page.articles.empty?
        %section.articles
          %header
            %h1= articles_heading
          = article_summaries(@page.articles)

      = haml :page_meta, :layout => false, :locals => { :page => @page }

    = haml :comments, :layout => false

/= haml :sidebar, :layout => false
