- unless pages.empty?
  %ol.thumbnails
    - pages.each do |page|
      - if page.summary.nil? || page.summary.empty?
        %li.span12
          %article
            %header
              %h2
                /%a(href="#{page.abspath}")= page.heading
                = page.heading
            ~ page.body(self)
      - else
        %li.span6
          %a.thumbnail.curl(href="#{url(page.abspath)}" title="Click for more information") 
            .row-fluid
              .header(style="background-color:rgba(0,0,0,0.75);")
                %header
                  %h2= page.heading
            .row-fluid
              %div.span6.align-right
                %img(src="#{url(page.image_url())}" width="100%")
              %div.span6              
                ~ page.summary
          %div
            = haml :page_meta, :layout => false, :locals => { :page => page }
