- unless pages.empty?
  %ol.thumbnails
    - pages.each do |page|
      - if page.summary.nil? || page.summary.empty?
        %li.span12
          %article
            %header
              %h2
                /%a(href="#{page.abspath}")= page.heading
                = page.heading
              ~ page.body(self)
      - else
        %li.span6
          %article.thumbnail
            %header
              %h2
                %a(href="#{page.abspath}")= page.heading
              ~ page.summary
            %p.read_more
              %a.btn.btn-primary(href="#{page.abspath}")
                /%i.icon-envelope.icon-white
                = page.read_more
          = haml :page_meta, :layout => false, :locals => { :page => page }
