- unless pages.empty?
  %ol.thumbnails
    - pages.each do |page|
      - if page.summary.nil? || page.summary.empty?
        %li.span12
          %article
            %header
              %h2
                /%a(href="#{page.abspath}")= page.heading
                = page.heading
            ~ page.body(self)
      - else
        %li.span6
          %a.thumbnail(style="background: url('#{page.image_url()}')" href="#{page.abspath}") 
            %div(style="width:100%;height:100%;background-color:rgba(0,0,0,0.75);")
              %header
                %h2= page.heading
              ~ page.summary
              = haml :page_meta, :layout => false, :locals => { :page => page }
