Title: Technology
Summary: Ours 
Template: page

#technology

  .page-header
    %h1 Technology
    %small 

  :markdown

    At CTMlabs we use a variety of open-source and commercial tools to
    fulfill our mission.  We're always on the lookout for new
    technologies that have the potential to alter the transportation
    management landscape.  Below is a partial list of technologies we
    deploy and have experience working with.
  
  %h2 Databases 
  %hr.soften-right.tight
  .row
    .span4
      %h3 Relational databases
      %ul.thumbnails
        %li.span2 
          %a.thumbnail.curl.invert(href="http://www.postgresql.org")
            %img(src="http://www.postgresql.org/files/community/propaganda/95x51_4.gif")
        %li.span2 
          %a.thumbnail.curl.invert(href="http://www.mysql.com")
            %img(src="#{url('/attachments/images/mysql.png')}")
        /%li.span2 
        /  %a.thumbnail.curl.invert(href="http://www.oracle.com") Oracle
    
    .span4
      %h3 No SQL databases
    
      %ul.thumbnails
        %li.span2 
          %a.thumbnail.curl.invert(href="http://couchdb.apache.org")
            %img(src="#{url('/attachments/images/couchdb-logo.png')}")
        %li.span2 
          %a.thumbnail.curl.invert(href="http://www.mongodb.org")
            %img(src="#{url('/attachments/images/mongodb-logo.png')}")
  
  /%h2 Middleware
  
  /%ul.thumbnails
  /  %li.span2 
  /    %a.thumbnail.curl Mule ESB
  /  %li.span2 
  /    %a.thumbnail.curl CORBA
  
  %h2 Web server technologies
  %hr.soften-right.tight
  
  %ul.thumbnails 
    %li.span2 
      %a.thumbnail.curl(href="http://nodejs.org")
        %img(src="http://nodejs.org/images/logo.png")
    %li.span2
      %a.thumbnail.curl.invert(href="http://apache.org")
        %img(src="http://apache.org/images/apache_pb.gif")
    %li.span2 
      %a.thumbnail.curl.invert(href="http://tomcat.apache.org")
        %img(src="http://tomcat.apache.org/images/tomcat-power.gif")
    %li.span2 
      %a.thumbnail.curl.invert(href="http://www.iis.net")
        %img(src="#{url('/attachments/images/powered-by-iis7.png')}") 
  
  %h2 Application frameworks
  %hr.soften-right.tight
    
  %ul.thumbnails 
    %li.span2 
      %a.thumbnail.curl.invert(href="http://grails.org")
        %img(src="http://upload.wikimedia.org/wikipedia/commons/9/93/Grails_logo.png")
    %li.span2 
      %a.thumbnail.curl.invert(href="http://www.asp.net")
        %img(src="#{url('/attachments/images/logo_poweredbyaspnet.jpg')}") 
    %li.span2 
      %a.thumbnail.curl.invert(href="http://rubyonrails.org")
        %img(src="#{url('/attachments/images/powered_by_rails.png')}") 

  
  %h2 Web toolkits and libraries
  %hr.soften-right.tight
  
  %ul.thumbnails 
    %li.span2 
      %a.thumbnail.curl(href="http://jquery.com")
        %img(src="http://static.jquery.com/files/rocker/images/logo_jquery_215x53.gif")
    %li.span2 
      %a.thumbnail.curl.invert(href="http://twitter.github.com/bootstrap/")
        %div.clearfix
          %img.pull-left(src="https://github.com/twitter/bootstrap/blob/master/docs/assets/ico/apple-touch-icon-57-precomposed.png?raw=true") 
          %div.pull-left(style="width:50%;")
            %small.twitterbootstrap Twitter Bootstrap
    %li.span2 
      %a.thumbnail.curl.invert(style="height:50px" href="http://mbostock.github.com/d3/")
        .d3js d3.js
    %li.span2 
      %a.thumbnail.curl.invert(href="http://polymaps.org/")
        %img(Src="http://polymaps.org/logo-small.png")
  
  %h2 General tools
  %hr.soften-right.tight
  
  %ul.thumbnails 
    %li.span2 
      %a.thumbnail.curl.invert(style="height:50px" href="http://nestacms.com") 
        .nestacms NestaCMS
    %li.span2 
      %a.thumbnail.curl.invert(href="http://www.redmine.org/")
        %img(src="#{url('attachments/images/redmine-logo.png')}")
 
  
  %h2 Core languages spoken
  %hr.soften-right.tight
   
  %ul
    %li java/groovy
    %li javascript
    %li perl
    %li ruby
    %li R
    %li C++
    %li C#
    %li C
  